@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #1f1e26;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  color: white;
}

h6 {
  font-size: 9px;
  font-weight: 500;
}

h2 {
  font-size: 9px;
  font-weight: 500;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 45px;
  font-weight: 400;
  color: white;
}

.auth-container2 {
  background: #4d4a63;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 570px;
  height: 750px;
  text-align: center;
}
.auth-container2 h2 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #333;
}

.auth-container2 form {
  display: flex;
  flex-direction: column;
}

.auth-container2 input {
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.auth-container2 button {
  padding: 10px;
  background: #807c9a;
  color: white;
  border: 1px solid #6a6780;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.auth-container2 button:hover {
  background: #1f1e26;
}

.auth-container2 p {
  margin-top: 15px;
  font-size: 0.9rem;
  color: white;
}

.auth-container2 a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.auth-container2 a:hover {
  text-decoration: underline;
}

.form-container2 {
  margin-top: 30px;
  height: 13vh;
  border-bottom: 1px solid  rgb(129, 127, 127);
}

